{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<input id="nr" type="number"> 
<br>
<button id="button">Preees it !</button>
<br>
<div id="result"></div>



{% endblock %}

{% block javascripts %}
    <script>


var input = document.getElementById('nr');
        var button = document.getElementById('button');
        let display = document.getElementById('result');
        var rnd =  nr ;


button.addEventListener('click', () => {
        display.innerHTML = '';
        if (input.value > rnd) {
            display.innerHTML = `Nr ${input.value} e mai mare  ${rnd}`;
        }
        if (inputValue.value < random) {
            display.innerHTML = `Nr ${input.value} e mai mic decat ${rnd}`;
        }
        if (inputValue.value == random) {
            display.innerHTML = `Nr ${input.value} e egal cu ${rnd}`;
    }
})


    </script>
{% endblock %}